*{
	margin: 0;
	padding: 0;
}
html,body{
	position: relative;
	width: 100%;
	height: 100%;
}
.clear{
	clear: both;
}
#header{
	margin: 0 auto;
	max-width: 1200px;
	min-width: 733px;
	height: 100px;
}
#header .logo-box{
	margin: 20px 20px 0 20px;
	float: left;
}
#header ul{
	float: right;
	margin-top: 35px;
}
#header ul li{
	margin: 0 30px;
	display: inline-block;
}
#header ul li a{
	margin: 0 30px;
	text-decoration: none;
	color: black;
	margin: 0;
	font-size: 18px;
	display: inline-block;
	padding: 0 5px;
	height: 47px;
}

#header ul li a:hover{
	color: rgb(241,141,0);
	border-bottom: 2px rgb(241,141,0) solid;
}
.box{
	text-align: center;
	position: relative;
	width: 100%;
}
.PE-box1 img{
	display: block;
	width: 100%;
}
.solutions{
	border-bottom: 1px #e9e9e9 solid;
}
.solutions>div{
	max-width: 1200px;
	min-width: 700px;
	margin: 0 auto;
	padding: 35px 0 5px 0;
	vertical-align: middle;
}
.solutions>div>h1{
	float: left;
}
.solutions>div>div{
	float: right;
}
.solutions>div a{
	display: inline-block;
	width: 120px;
	height: 32px;
	padding: 0 7px;
	border: 1px gray solid;
	line-height: 32px;
}
.b-box1{
	padding: 40px 0;
	max-width: 1200px;
	margin: 0 auto;
}
.solutions-wrap div{
	position: relative;
	float: left;
	width: 372px;
	text-align: left;
	margin: 0 30px 40px 0;
}
.solutions-wrap div:nth-child(3){
	margin: 0;
}
.solutions-wrap div img{
	width: 372px;
	height: 220px;
}
.solutions-wrap div h2{
	font-size: 14px;
	color: #333;
	margin: 15px 0 6px 0;
}
.solutions-wrap div p{
	font-size: 12px;
	line-height: 24px;
	color: #999;
	margin:0;
}
.pages{
	width: 100%;
	font-size: 12px;
}
.pages div div{
	display: inline-block;
	border: 1px #ccc solid;
	padding: 5px;
	cursor: pointer;
}
.pages div input{
	width: 40px;
	height: 22px;
}
.footer-nav{
	padding: 40px 0 80px 0;
	background-color: rgb(248,248,248);
}
.footer-nav>div{
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
}
.footer-nav div dl{
	width: 128px;
	margin: 0 58px;
	padding-right:92px; 
	float: left;
}
.footer-nav div dl:last-child{
	margin-right: 0;
	padding-right:0; 
}
.footer-nav div dt{
	font-size: 15px;
	height: 30px;
}
.footer-nav div dd{
	font-size: 12px;
	height: 30px;
}
.footer{
	height: 94px;
	background-color: rgb(32,32,32);
}
.footer>div{
	padding: 22px 0;
}
.footer p,a{
	color: #666;
	font-size: 12px;
	line-height: 24px;
	text-decoration: none;
	margin: 0;
}
.footer>div{
	max-width: 1200px;
	min-width: 700px;
	margin: 0 auto;
}
.f-left{
	float: left;
}
.f-right{
	float: right;
}
.f-right>div{
	position: relative;
	width: 36px;
	height: 36px;
	display: inline-block;
	margin-left: 10px;
	background-image: url(../images/main_67.png);
}
.f-right>div:nth-child(2){
	background-position: -138px 0;
}
.f-right>div div{
	width: 120px;
	height: 120px;
	position: absolute;
	top: -120px;
	overflow: hidden;
}
.f-right>div div img{
	position: absolute;
	top:120px;
}